// Reference genome configurations for human and mouse
// Uses nf-core iGenomes references by default

params {
    // iGenomes base path (AWS S3)
    igenomes_base = 's3://ngi-igenomes/igenomes'
    
    // Available genomes with iGenomes support
    genomes {
        'GRCh38' {
            fasta       = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.fa"
            gtf         = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Annotation/Genes/genes.gtf"
            star_index  = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Sequence/STARIndex/"
            // Note: Salmon index will be built automatically if not provided
        }
        
        'GRCh38_ensembl' {
            // Alternative Ensembl annotation for GRCh38
            fasta       = "${params.igenomes_base}/Homo_sapiens/Ensembl/GRCh38/Sequence/WholeGenomeFasta/genome.fa"
            gtf         = "${params.igenomes_base}/Homo_sapiens/Ensembl/GRCh38/Annotation/Genes/genes.gtf"
            star_index  = "${params.igenomes_base}/Homo_sapiens/Ensembl/GRCh38/Sequence/STARIndex/"
        }
        
        'GRCm39' {
            fasta       = "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm39/Sequence/WholeGenomeFasta/genome.fa"
            gtf         = "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm39/Annotation/Genes/genes.gtf"
            star_index  = "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm39/Sequence/STARIndex/"
        }
        
        'GRCm38' {
            // Previous mouse assembly (mm10), if needed
            fasta       = "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Sequence/WholeGenomeFasta/genome.fa"
            gtf         = "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Annotation/Genes/genes.gtf"
            star_index  = "${params.igenomes_base}/Mus_musculus/Ensembl/GRCm38/Sequence/STARIndex/"
        }
    }
}

// Custom genome configuration template
// If you want to use your own reference files instead of iGenomes:
// params {
//     genome = null
//     fasta = '/path/to/genome.fa'
//     gtf = '/path/to/genes.gtf'
//     star_index = '/path/to/star_index/'
//     salmon_index = '/path/to/salmon_index/'  // Optional, will be built if not provided
// }
